---
import { getCollection } from 'astro:content'
import Container from '@components/Container.astro'
import PageLayout from '@layouts/PageLayout.astro'
import ArrowCard from '@components/ArrowCard.astro'
import Link from '@components/Link.astro'
import Social from '@components/Social.astro'
// import { dateRange } from "@lib/utils";
import { SITE, HOME } from '@consts'
import { compareAsc, sub } from 'date-fns'

const now: Date = new Date()
const threeDaysAgo: Date = sub(now, { days: 3 })

const shows = (await getCollection('shows'))
const meetups = (await getCollection('meetups'))

// fudge to three days ago to show recently past events too
const relevantMeetups = [ ...meetups, ...shows]
  .filter(m => compareAsc(new Date(m.data.start), threeDaysAgo) > 0)
  .sort((a, b) => a.data.start.valueOf() - b.data.start.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE)

const SCOPES: string[] = ['https://www.googleapis.com/auth/calendar.readonly']
const MEETUPS_CALENDAR_ID: string = process.env.PUBLIC_MEETUPS_CALENDAR_ID as string
const SHOWS_CALENDAR_ID: string = process.env.PUBLIC_SHOWS_CALENDAR_ID as string

// TODO: add types, then remove this linting opt out
/* eslint-disable @typescript-eslint/no-explicit-any */

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="animate space-y-6">
      <div class="flex flex-wrap gap-y-2 items-center justify-between">
        <img src="/images/vtss-logo.svg" class="inverted" />
      </div>
      <div class="flex flex-wrap gap-y-2 items-center justify-between">
        <img src="/images/nye-2025-kid-foreground.jpg" />
      </div>
    </section>
    <article class="space-y-4">
      <p class="animate" />
    </article>
    <h4 class="animate font-semibold text-black dark:text-white">
      Welcome to the Vermont Synthesizer Society <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            VT Synth Society is a community of musicians, artists and engineers working with synthesizers in our creative practices.
          </p>
        </article>
        <!-- <Link href="/events">
          Events
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="https://discord.gg/NJxqtDTkxa">
          Discord
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/blog">
          Resources
        </Link> -->
      </section>

      <section class="animate space-y-4">
        <!-- <h5 class="font-semibold text-black dark:text-white">
          Footer Title
        </h5>
        <article>
          <p>
            Footer content goes here.
          </p>
        </article> -->
        <Social />
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Events
          </h5>
          <Link href="/events">
            See full calendar
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {relevantMeetups.map(m => (
            <li>
              <ArrowCard entry={m} />
            </li>
          ))}
        </ul>
      </section>

      <!-- TODO: write some blog posts and reenable -->
      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->
    </div>
  </Container>
</PageLayout>
