---
import { type CollectionEntry, getCollection } from 'astro:content'
import PageLayout from '@layouts/PageLayout.astro'
import Container from '@components/Container.astro'
import FormattedDate from '@components/FormattedDate.astro'
import BackToPrev from '@components/BackToPrev.astro'
// import Link from '@components/Link.astro'
import { YouTube } from 'astro-embed'

export async function getStaticPaths() {
  const coll = (await getCollection('shows'))
  // .filter(post => !post.data.draft)
  .sort((a, b) => new Date(b.data.start).valueOf() - new Date(a.data.start).valueOf())

  return coll.map((m) => ({
    params: { slug: m.slug },
    props: m,
  }))
}

export const prerender = true
// Fails to load event page without this flag, server would give 500 on deploy. This may be necessary on all slug pages??
// 14:43:04 [WARN] [router] getStaticPaths() ignored in dynamic page /src/pages/events/[...slug].astro. Add `export const prerender = true;` to prerender the page as static HTML during the build process.
// 14:43:04 [ERROR] event.render is not a function

type Props = CollectionEntry<'meetups'>;

const event = Astro.props
const { Content } = await event.render();
---

<PageLayout title={event.data.title} description={event.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/events">
        Back to events
      </BackToPrev>
    </div>
    {event.data.youTubeId && <YouTube id={event.data.youTubeId} />}
    <div class="space-y-1 my-10">
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {event.data.title}
      </div>
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={new Date(event.data.start)} />
        </div>
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>